<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Is_Mainnet_setting</key>
	<true/>
	<key>FABRIC_BUILD_SECRET</key>
	<string>1f0ea4bed2dacc368ad16cd4a824581fd7b8526917f01e88c15e720abc50f45d</string>
	<key>FABRIC_API_KEY</key>
	<string>41db5a1ea3ca62a26f56f41e07085664e42f9f95</string>
	<key>Server_URL</key>
	<string>https:/$()/walletapi.qtum.org/</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleVersion</key>
	<string>101</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.1</string>
</dict>
</plist>
