//QTUM WALLET
APP_NAME = QTUM
APP_BUNDLE_IDENTIFIER = org.qtum.qtum-wallet

//QTUM iMessage
APP_IMESSAGE_NAME = QTUM
APP_IMESSAGE_BUNDLE_PREFIX = .iMessageExtension
APP_IMESSAGE_BUNDLE = $(APP_BUNDLE_IDENTIFIER)$(APP_IMESSAGE_BUNDLE_PREFIX)

//QTUM Watch
APP_WATCH_NAME = QTUM
APP_WATCH_BUNDLE_PREFIX = .watchkitapp
APP_WATCH_BUNDLE = $(APP_BUNDLE_IDENTIFIER)$(APP_WATCH_BUNDLE_PREFIX)

//QTUM Watch Extension
APP_WATCH_EXTEMSION_NAME = QTUM Watch Extension
APP_WATCH_EXTEMSION_BUNDLE_PREFIX = .watchkitapp.watchkitextension
APP_WATCH_EXTEMSION_BUNDLE = $(APP_BUNDLE_IDENTIFIER)$(APP_WATCH_EXTEMSION_BUNDLE_PREFIX)

//Version
APP_BUNDLE_VERSION = 0.10
APP_BUNDLE_VERSION_BUILD = 103

//Fabric
FABRIC_API_KEY = <FABRIC_API_KEY>
FABRIC_BUILD_SECRET = <FABRIC_BUILD_SECRET>

//API
APP_IS_MAINNET_SETTINGS = YES
APP_SERVER_SCHEME = https
APP_SERVER_HOST = walletapi.qtum.org

//GoogleService
APP_GOOGLE_SERVICE_PLIST = ${SRCROOT}/GoogleService-Info-default.plist

