<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>815698518481-d5m4mea24h1soqo0brkmg4mcr3hg8b98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815698518481-d5m4mea24h1soqo0brkmg4mcr3hg8b98</string>
	<key>API_KEY</key>
	<string>AIzaSyDsQsK3rn5K-HsYHpZVwMB_WxldCKEEVM0</string>
	<key>GCM_SENDER_ID</key>
	<string>815698518481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.qtum.qtum-wallet</string>
	<key>PROJECT_ID</key>
	<string>org-qtum-qtum-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>org-qtum-qtum-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815698518481:ios:03fafdae1fe98bcd</string>
	<key>DATABASE_URL</key>
	<string>https://org-qtum-qtum-wallet.firebaseio.com</string>
</dict>
</plist>