<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>host</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>86</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>41db5a1ea3ca62a26f56f41e07085664e42f9f95</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need your camera to scan QR Code</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need your photos.</string>
	<key>UIAppFonts</key>
	<array>
		<string>proximanova-regitalic.otf</string>
		<string>proximanova-semibold.otf</string>
		<string>proximanova-regular.otf</string>
		<string>proximanova-light.otf</string>
		<string>proximanova-bold.otf</string>
		<string>SFUIDisplay-Regular</string>
		<string>MYRIADPRO-REGULAR</string>
		<string>SF-UI-DISPLAY-THIN</string>
		<string>Roboto-Bold</string>
		<string>Roboto-Regular</string>
		<string>euclidflexmedium.ttf</string>
		<string>simplonmono-medium.ttf</string>
		<string>simplonmono-regular.ttf</string>
		<string>Avenir.ttc</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Splash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
