<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ENV_GOOGLE_AD_UNIT_ID_FOR_BANNER_TEST</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ENV_GOOGLE_AD_UNIT_ID_FOR_INTERSTITIAL_TEST</string>
	<key>CLIENT_ID</key>
	<string>ENV_GOOGLE_CLIENT_ID</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>ENV_GOOGLE_REVERSED_CLIENT_ID</string>
	<key>API_KEY</key>
	<string>$(ENV_GOOGLE_API_KEY)</string>
	<key>GCM_SENDER_ID</key>
	<string>ENV_GOOGLE_GCM_SENDER_ID</string>
	<key>PLIST_VERSION</key>
	<string>ENV_GOOGLE_PLIST_VERSION</string>
	<key>BUNDLE_ID</key>
	<string>ENV_GOOGLE_BUNDLE_ID</string>
	<key>PROJECT_ID</key>
	<string>ENV_GOOGLE_PROJECT_ID</string>
	<key>STORAGE_BUCKET</key>
	<string>ENV_GOOGLE_STORAGE_BUCKET</string>
	<key>IS_ADS_ENABLED</key>
	<string>ENV_GOOGLE_DATABASE_URL</string>
	<key>IS_ANALYTICS_ENABLED</key>
	<string>ENV_GOOGLE_IS_ANALYTICS_ENABLED</string>
	<key>IS_APPINVITE_ENABLED</key>
	<string>ENV_GOOGLE_IS_APPINVITE_ENABLED</string>
	<key>IS_GCM_ENABLED</key>
	<string>ENV_GOOGLE_IS_GCM_ENABLED</string>
	<key>IS_SIGNIN_ENABLED</key>
	<string>ENV_GOOGLE_IS_SIGNIN_ENABLED</string>
	<key>GOOGLE_APP_ID</key>
	<string>ENV_GOOGLE_APP_ID</string>
	<key>DATABASE_URL</key>
	<string>ENV_GOOGLE_DATABASE_URL</string>
</dict>
</plist>
