<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Is_Mainnet_setting</key>
	<true/>
	<key>FABRIC_BUILD_SECRET</key>
	<string>1f0ea4bed2dacc368ad16cd4a824581fd7b8526917f01e88c15e720abc50f45d</string>
	<key>FABRIC_API_KEY</key>
	<string>41db5a1ea3ca62a26f56f41e07085664e42f9f95</string>
	<key>Server_URL</key>
	<string>https:/$()/walletapi.qtum.org/</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleVersion</key>
	<string>101</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.1</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>788606128673-bv97n9r0ulb329scpkrhg10vj9mvlk4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788606128673-bv97n9r0ulb329scpkrhg10vj9mvlk4f</string>
	<key>API_KEY</key>
	<string>AIzaSyAVXm-KW2yMLHs8sfPKh8rGq-SLOr-lkHs</string>
	<key>GCM_SENDER_ID</key>
	<string>788606128673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.qtum.qtum-wallet</string>
	<key>PROJECT_ID</key>
	<string>qtum-2210a</string>
	<key>STORAGE_BUCKET</key>
	<string>qtum-2210a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:788606128673:ios:03fafdae1fe98bcd</string>
	<key>DATABASE_URL</key>
	<string>https://qtum-2210a.firebaseio.com</string>
</dict>
</plist>
